.card {
  /* width: 18rem;
  margin: 10px; */
  border-radius: 5px;
}

.card-sub-main {
  display: flex;
  flex-direction: row;
}

.card-main h4 {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.card-img-top {
  height: 200px;
}

.card a {
  margin-top: 10px;
}

.nabet {
  margin-top: 10px;
}
.card {
  width: 30%;
  margin: 20px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 576px) {
  .card {
    width: 100%; /* Make each card take full width */
    margin: 10px 0; /* Adjust margin for better spacing */
  }
}
